#wrap {
	padding-top: 20px;
}

#region-left {
	width: 205px;
}

#region-header, #region-footer, #content {
	width: 802px;
}

#widget-logo h1 span {
	display: none;
}

#widget-logo h1 {
	background: transparent url('new_logo.png') no-repeat center center;
	width: 270px;
	height: 248px;
	position: absolute;
	top: -100px;
	left: -45px;
	z-index: 1;
}

#widget-logo a {
	position: relative;
	display: block;
	height: 70px;
	margin-top: 30px;
	margin-bottom: 70px;
}

#region-content, #region-right {
	padding-top: 30px;
	position: relative;
	z-index: 2;
}

/* Longmans egna logga */

.longman #widget-logo h1 {
	background-image: url('longmanslogo.png');
	height: 540px;
	top: -140px;
}

.longman #widget-logo a {
	height: 350px;
}