body {
	background: white;
	margin: 0;
	padding: 0;
	font-size: 10px;	
	font-family: Lucida grande, Verdana, Arial, sans-serif;
}

a {
	color: rgb(122, 80, 14);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: black;
	text-decoration: underline;
}

th {
	font-size: 10px;
}

h4, h3, h2 {
	margin-bottom: 0;
}

h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	padding-left: 3px;
	margin-top: 0;
	font-size: 2em;
}

#wrap {
	background: transparent url('background-fade-white.jpg') no-repeat center top;
	margin: 0;
	padding: 0;
	padding-top: 40px;
}

#header, #footer, #content {
	width: 732px;
	margin: 0 auto;
	text-align: left;
}

#header-wrap, #footer-wrap {
	text-align: center;
}

#content-wrap {
	text-align: left;
}

.sidebar {
	width: 130px;
}

#sidebar-left {
	float: left;
	width: 135px;
}

#sidebar-left .widget {
	margin-right: 10px;
}

#sidebar-right {
	float: right;
}

.sidebar-left #region-content, .sidebar-right #region-content {
	float: right;
	width: 597px;
}

.two-sidebars #region-content {
	width: 455px;
	float: left;
}

#header h1 {
	height: 68px;
	width: 312px;
	background: transparent url('banner.png') no-repeat;
}

#header h1 span {
	display: none;
}

#navbar {
	margin-bottom: 10px;
	opacity: 0.8;
	background: #9E7937;
	padding: 5px;
}

#navbar a {
	font-family: Verdana;
	color: #fff;
	font-weight: normal;
	padding: 0 10px;
	font-size: 12px;
}


#menuItems {
	float: left;
}

#widget-topmenu #quicksearch {
	float: right;
	margin-bottom: 0;
}

.clear {
	clear: both;
	display: block;
	font-size: 1px;
	line-height: 1px;
	margin-bottom: -1px;
}

.break {
	clear: both;
}

#footer {
	color: #333;
	margin-top: 10px;
}

#footer a {
	color: #555;
}

#footer-text {
	text-align: center;
	clear: both;
	margin-bottom: 1em;
	padding-top: 1em;
}

#search #userName {
	border: 1px solid black;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

label {
	clear: both;
	display: block;
}

.pager, .datepager {
	text-align: center;
	margin: 10px;
	clear: both;
}

#quicksearch-username {
	font-size: 10px;
	position: relative;
	top: -1px;
	padding: 0;
}

/* Style för nya forumet */
#forum-topics, #forum-categories, #forum-user-rights, #messages {
	border: hidden;
	border-collapse: collapse;
}

#forum-topics td, #forum-categories td, #forum-user-rights td, #messages td {
	padding: 9px;
	padding-top: 10px;
	border: 1px solid #C9C2C1;
}

thead {
	line-height: 19px;
}

#forum-topics td.topic-subject, #messages td.message-counterpart, #forum-categories td.category-title {
	padding-left: 22px;
}

.topic-subject, .message-counterpart {
	background: transparent url('icons/comments.png') no-repeat center left;
}

.topic-link {
	float: left;
}

.topic-subject .actions {
	float: right;
}

.no-replies .topic-subject { background-image: url('icons/comment.png'); }

.locked .topic-subject {
	background-image: url('icons/lock.png');
	color: #555;
}

.sticky .topic-subject { background-image: url('icons/error.png'); }
.new .topic-subject { background-image: url('icons/comments_add.png'); }
.new.no-replies .topic-subject { background-image: url('icons/comment_add.png'); }
.sticky.new .topic-subject { background-image: url('icons/error_add.png'); }
.is_event .topic-subject { background-image: url('icons/date.png'); }
.is_event.new .topic-subject { background-image: url('icons/date_add.png'); }
.is_wiki .topic-subject { background-image: url('icons/page_white_text.png'); }
.is_wiki.new .topic-subject { background-image: url('icons/page_white_add.png'); }

.topic-replies, .category-threads {
	text-align: center;
}

.category-title {
	background: transparent url('icons/folder.png') no-repeat center left;
}

.new .category-title { background-image: url('icons/folder_add.png'); }

.category-title span {
	font-weight: normal;
	color: #333;
}

.category-updated {
	white-space: nowrap;
}

.message-counterpart { background-image: url('icons/email_open.png'); }
.unread .message-counterpart { background-image: url('icons/email.png'); }

.post {
	margin-bottom: 20px;
	padding: 10px;
}

.post .left {
	width: 110px;
	float: left;
	border-right: 1px solid #ddd;
}

.post .left .user {
	display: block;
}

.post .right {
	margin-left: 110px;
	border-left: 1px solid #ddd;
}

.post .right .meta {
	margin-top: 20px;
	text-align: right;
	font-style: italic;
	color: #666;
}

.post .right .body {
	padding-left: 10px;
}


/* Ofta återkommande element */

.pager {
	text-align: center;
	margin: 10px;
}

ul.flat {
	padding: 0;
	list-style-type: none;
}

.widget {
	margin-bottom: 10px;
}

.widget h3 {
	color: black;
	border-bottom: 1px solid rgb(204, 204, 204);
	padding: 3px;
	padding-top: 0;
	margin-top: 0;
}

.widget p, .widget ul, .widget h4 {
	padding: 3px;
	margin-top: 0;
}

.odd {
	background-image: url('eeeeee_op50.png');	
}

.notice {
	color: #666;
	font-style: italic;
	text-align: center;
}

.teaser h3 {
	margin-top: 0;
}

.sublinks {
	margin: 0;
	margin-top: 3px;
	margin-bottom: 10px;
	padding: 0;
	padding-left: 3px;
}

.sublinks li {
	display: inline;
	padding-right: 20px;
}

.sublinks a {
	color: #111;
	font-weight: normal;
	font-size: 12px;
}

.list-page .teaser {
	padding: 10px;
}

.userlist {
	padding: 10px;
}

.userlist .userimage {
	float: left;
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

span.userimage {
	display: block;
	width: 100px;
	height: 100px;
	background-position: center center;
}

.online {
	color: green;
	font-weight: bold;
}

#messages .notice, #messages .warning {
	background: #CDEB8B;
	color: #111;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-style: normal;
}

#messages .warning {
	background: #F9F7ED;
	color: #CC0000;
	border: none;
}

/* Actions, med ikoner */

.actions {
	display: inline;
}

.actions.icons-only .action span {
	display: none;
}

.actions.icons-only a:hover {
	text-decoration: none;
}

.actions .action {
	height: 16px;
	padding: 4px;
	padding-left: 16px;
	margin-left: 1px;
	background-position: center left;
	background-repeat: no-repeat;
	opacity: 0.7;
	font-style: normal;
}

.actions.icons-only .action {
	width: 16px;
	letter-spacing: 4px;
	padding-left: 6px;
}

.actions .action:hover {
	opacity: 1;
}

.action-edit { background-image: url('icons/pencil.png'); }
.action-delete { background-image: url('icons/bin.png'); }
.action-alert { background-image: url('icons/transmit.png'); }
.action-deleteimage { background-image: url('icons/image_delete.png'); }
.action-makenews { background-image: url('icons/newspaper_add.png'); }
.action-unmakenews { background-image: url('icons/newspaper_delete.png'); }
.action-guestbook { background-image: url('icons/book.png'); }
.action-guestbook:hover { background-image: url('icons/book_edit.png'); }
.action-images { background-image: url('icons/images.png'); }
.action-message { background-image: url('icons/email.png'); }

.action-message:hover {
	background-image: url('icons/email_edit.png');
	position: relative;
	top: -1px;
}

.action-message:hover span {
	position: relative;
	top: 1px;
}

.action-presentation { background-image: url('icons/user.png'); }
.action-thoughts { background-image: url('icons/lightbulb.png'); }
.action-usersettings { background-image: url('icons/user_edit.png'); }
.action-image { background-image: url('icons/image_edit.png'); }
.action-admin { background-image: url('icons/cog.png'); }
.action-reply { background-image: url('icons/book_add.png'); }


/* Usermenu, menyn till vänster */

.usermenu li {
	background: transparent url('icons/bullet_black.png') no-repeat center left;
	padding-left: 22px;
	line-height: 18px;
	margin-left: 2px;
}

.usermenu a .counter {
	color: #999;
}

.usermenu a:hover {
	text-decoration: none;
}

.usermenu .home { background-image: url('icons/house.png'); }
.usermenu .guestbook { background-image: url('icons/book_open.png'); }
.usermenu .guestbook.new { background-image: url('icons/book_open.png'); }
.usermenu .messages { background-image: url('icons/email.png'); }
.usermenu .messages.new { background-image: url('icons/email_open.png'); }
.usermenu .thoughts { background-image: url('icons/page_white_edit.png'); }
.usermenu .events { background-image: url('icons/calendar.png'); }
.usermenu .forum { background-image: url('icons/comments.png'); }
.usermenu .gallery { background-image: url('icons/images.png'); }
.usermenu .people { background-image: url('icons/group.png'); }
.usermenu .events.new { background-image: url('icons/calendar_add.png'); }
.usermenu .settings { background-image: url('icons/wrench.png'); }
.usermenu .logout { background-image: url('icons/door_open.png'); }
.usermenu .wisdom { background-image: url('icons/lightbulb.png'); }
.usermenu .fadder { background-image: url('icons/user_add.png'); }
.usermenu .fadderbarn { background-image: url('icons/group.png'); }
.usermenu .admin-settings { background-image: url('icons/application_form_edit.png'); }
.usermenu .admin-permissions { background-image: url('icons/lock.png'); }
.usermenu .admin-log { background-image: url('icons/error.png'); }
.usermenu .board { background-image: url('icons/information.png'); }

/* Extramarginalen för att separera delar av menyn */
.usermenu .settings, .usermenu .fadder, .usermenu .wisdom, .usermenu .board {
	margin-top: 18px;
}

/* Profilern, onödigt med en separat fil även om den används av väldigt få */
/*#codeigniter_profiler{position:absolute;top:0;left:0;background-color:#eee!important;opacity:0.9;padding:0!important}
#codeigniter_profiler fieldset{float:left;border:none!important;background-color:transparent!important;margin:0!important;padding:0!important}
#codeigniter_profiler fieldset > *{display:none}
#codeigniter_profiler fieldset:hover > *{display:block;position:absolute;left:0;background-color:#eee!important}
#codeigniter_profiler fieldset legend{display:block;float:left}*/

/* Formulärmekk */
label {
	color: #666;
	display: block;
}

fieldset {
	border: 1px solid rgb(204, 204, 204);
	margin-bottom: 10px;
}

.form-item-text, .form-item-password, .form-item-textarea, .form-item-submit {
	padding: 2px;
	background: #ddd;
	border: 1px solid #ccc;
	width: 440px;
}

#login .form-item-text, #login .form-item-password {
	width: 115px;
}

input:hover, textarea:hover {
	background: #eee;
}

input:focus, textarea:focus {
	background: #f4e6c4;
	border: 1px solid #bbb;
}

input[type=text], input[type=password] {
	background-repeat: no-repeat;
	background-position: 2px 0px;
}

input[type=checkbox] {
	width: auto;
	margin-right: 5px;
}

input.form-item-submit {
	clear: both;
	display: block;
	margin-top: 20px;
	clear: both;
	width: auto;
	padding: 2px 10px;
}

textarea#form-item-body, .form-item-textarea {
	height: 150px;
}

.form-error-description {
	font-style: italic;
	font-size: 10px;
}

.form-item-error {
	border: 1px solid red;
}

/* Admin-delen */
.admin-settings-user_id {
	width: 30px;
}

.admin-settings-key {
	width: 150px;
}

.admin-settings-value {
	width: 380px;
}

/* Timelinen */
#widget-timeline {
	clear: both;
	padding-top: 10px;
}

#widget-timeline li {
	padding-left: 22px;
	background: transparent url('icons/bullet_black.png') no-repeat center left;
	margin-bottom: 5px;
}

#widget-timeline a span {
	display: block;
	color: #666;
	font-weight: normal;
}

#widget-timeline .item-thought { background-image: url('icons/lightbulb.png'); }
#widget-timeline .item-forum { background-image: url('icons/comment.png'); }
#widget-timeline .item-event { background-image: url('icons/date.png'); }
#widget-timeline .item-user { background-image: url('icons/user.png'); }
#widget-timeline .item-image { background-image: url('icons/image.png'); }

/* Kalendern */
.day {
	border: 1px solid #C9C2C1;
	margin: 2px;
	padding: 5px;
	width: 66px;
	height: 66px;
	vertical-align: top;
}

.week {
	color: #888;
	width: 20px;
	text-align: center;
}

.events {
	margin: 0;
}

.has-events {}

.no-events a, .no-events {
	color: #C9C2C1;
}

.calendar-year .events {
	display: none;
}

.calendar-year .has-events:hover .events {
	display: block;
	position: absolute;
	background: #fff;
	border: 1px solid #C9C2C1;
	padding: 10px;
	text-align: left;
	z-index: 100;
	width: 200px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.calendar-year .day {
	width: 16px;
	height: 16px;
	padding: 2px;
	text-align: center;
	position: relative;
	vertical-align: middle;
}

.calendar-year h4 {
	text-align: center;
}

.calendar-year .month {
	float: left;
}

/* Presentationer */
.presentation-header .userimage {
	float: left;
}

.presentation-header .userdata {
	margin-left: 110px;
}

.presentation-body {
	clear: both;
	padding-top: 10px;
}

.user-properties {
	padding: 10px;
}

.user-properties dt, .user-properties dd {
	padding: 0;
	margin: 0;
}

.user-properties dt {
	width: 100px;
	float: left;
	color: #666;
}

.user-properties dd {
	clear: right;
}

/* Styrelse-sidan */
.page-board-index .member .userimage {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.page-board-index .member {
	clear: both;
}

/* Galleriet */
a.thumbnail {
	display: block;
	width: 99px;
	height: 99px;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

.tagcloud {
	text-align: center;
}

.tag-level-1 { font-size: 0.8em; }
.tag-level-2 { font-size: 0.9em; }
.tag-level-3 { font-size: 1.1em; }
.tag-level-4 { font-size: 1.4em; }
.tag-level-5 { font-size: 1.6em; }

.gallery-image {
	max-width: 597px;
	max-height: 600px;
}

.page-gallery-view #region-content .userimage {
	display: none;
}

/* Nyhetsrutan på förstasidan */
.news .meta {
	display: block;
	font-style: italic;
	font-weight: normal;
	color: #666;
}

/* Vishetsadmin */
.page-admin-wisdom #region-content .wisdom {
	padding: 10px;
}

/* Snabblänkarna */
#quicklinks .userimage {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 10px;
}

#quicklinks .sublinks {
	line-height: 18px
}

#quicklinks h2 {
	margin-left: 77px;
}

/* Snabbsöken */
#widget-quicksearch .form-item-text, #widget-quicksearch .form-item-submit {
	width: 65%;
	display: inline;
	clear: none;
	margin: 0;
	margin-top: 5px;
	padding: 2px;
}

#widget-quicksearch .form-item-submit {
	width: auto;
	padding: 2px 10px;
}

/* moonfia's giraff */
.page-user-view-2984 #region-content {
	background: transparent url('/images/giraff.gif') no-repeat top right;
}

/* footfall's vattenpipa */
.page-user-view-2959 #region-content {
	background: transparent url('/images/vattenpipa.gif') no-repeat top right;
}

/* Intro-sidan */
.page-welcome {
	background: #1A0601;
	text-align: center;
}

/* Sysslar-med-checkboxarna */
#usertags label {
	width: 25%;
	float: left;
	clear: none;
}