body {
	background: white;
	margin: 0;
	padding: 0;
	font-size: 10px;	
	font-family: Lucida grande, Verdana, Arial, sans-serif;
}

a {
	color: rgb(122, 80, 14);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: black;
	text-decoration: underline;
}

th {
	font-size: 10px;
}

h3 {
	margin-bottom: 0;
}

#wrap {
	background: transparent url('background-fade-white.jpg') no-repeat center top;
	margin: 0;
	padding: 0;
	padding-top: 40px;
}

#header, #footer, #content {
	width: 732px;
	margin: 0 auto;
	text-align: left;
}

#header-wrap, #footer-wrap {
	text-align: center;
}

#content-wrap {
	text-align: left;
}

.sidebar {
	width: 130px;
}

#sidebar-left {
	float: left;
}

#sidebar-left .widget {
	margin-right: 5px;
}

#sidebar-right {
	float: right;
}

#region-content {
	float: left;
	width: 600px;
}

#header h1 {
	height: 68px;
	width: 312px;
	background: transparent url('banner.png') no-repeat;
}

#header h1 span {
	display: none;
}

#navbar {
	margin-bottom: 10px;
	opacity: 0.8;
	background: #9E7937;
	padding: 5px;
}

#navbar a {
	font-family: Verdana;
	color: #fff;
	font-weight: normal;
	padding: 0 10px;
	font-size: 12px;
}


#menuItems {
	float: left;
}

#quicksearch {
	float: right;
	margin-bottom: 0;
}

.clear {
	clear: both;
	display: block;
	font-size: 1px;
	line-height: 1px;
	margin-bottom: -1px;
}

#footer {
	color: #333;
	margin-top: 10px;
}

#footer a {
	color: #555;
}

#footer-text {
	text-align: center;
	clear: both;
	margin-bottom: 1em;
	padding-top: 1em;
}

#search #userName {
	border: 1px solid black;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

label {
	clear: both;
	display: block;
}

.pager {
	text-align: center;
	margin: 10px;
}

#quicksearch-username {
	font-size: 10px;
	position: relative;
	top: -1px;
	padding: 0;
}

/* moonfia's giraff */
.user-presentation-2984 {
	background: transparent url('/images/giraff.gif') no-repeat top right;
}


/* Style för nya forumet */
#forum-topics, #forum-categories {
	border: hidden;
	border-collapse: collapse;
}

#forum-topics td, #forum-categories td {
	padding: 9px;
	padding-top: 10px;
	border: 1px solid #C9C2C1;
}

thead {
	line-height: 19px;
}

#forum-topics td.topic-subject {
	padding-left: 22px;
}

.topic-subject {
	background: transparent url('icons/comments.png') no-repeat center left;
}

.topic-link {
	float: left;
}

.topic-subject .actions {
	float: right;
}

.no-replies .topic-subject {
	background-image: url('icons/comment.png');
}

.locked .topic-subject {
	background-image: url('icons/lock.png');
	color: #555;
}

.sticky .topic-subject {
	background-image: url('icons/error.png');
}

.new .topic-subject {
	background-image: url('icons/comments_add.png');
}

.new.no-replies .topic-subject {
	background-image: url('icons/comment_add.png');
}

.sticky.new .topic-subject {
	background-image: url('icons/error_add.png');
}

.topic-replies, .category-threads {
	text-align: center;
}

#forum-categories td.category-title {
	padding-left: 22px;
}

.category-title {
	background: transparent url('icons/folder.png') no-repeat center left;
}

.new .category-title {
	background-image: url('icons/folder_add.png');
}

.category-title span {
	font-weight: normal;
	color: #333;
}

.category-updated {
	white-space: nowrap;
}


.post {
	margin-bottom: 20px;
	padding: 10px;
}

.post .left {
	width: 110px;
	float: left;
	border-right: 1px solid #ddd;
}

.post .left .user {
	display: block;
}

.post .right {
	width: 468px;
	float: right;
	position: relative;
	left: -1px;
	border-left: 1px solid #ddd;
}

.post .right .meta {
	margin-top: 20px;
	text-align: right;
	font-style: italic;
	color: #666;
}

.post .right .body {
	padding-left: 10px;
}


/* Ofta återkommande element */

.pager {
	text-align: center;
	margin: 10px;
}

ul.flat {
	padding: 0;
	list-style-type: none;
}

.widget h3 {
	color: black;
	border-bottom: 3px solid rgb(158, 121, 55);
	padding: 3px;
}

.widget p, .widget ul {
	padding: 3px;
	margin-top: 0;
}

.odd {
	background-image: url('eeeeee_op50.png');	
}

.notice {
	color: #666;
	font-style: italic;
	text-align: center;
}


/* Actions, med ikoner */

.actions {
	display: inline;
}

.actions.icons-only .action span {
	display: none;
}

.actions.icons-only a:hover {
	text-decoration: none;
}

.actions .action {
	height: 16px;
	padding: 4px;
	padding-left: 16px;
	margin-left: 1px;
	background-position: center left;
	background-repeat: no-repeat;
	opacity: 0.7;
}

.actions.icons-only .action {
	width: 16px;
	letter-spacing: 4px;
	padding-left: 6px;
}

.actions .action:hover {
	opacity: 1;
}

.action-edit {
	background-image: url('icons/pencil.png');
}

.action-delete {
	background-image: url('icons/bin.png');
}

.action-alert {
	background-image: url('icons/transmit.png');
}

.action-deleteimage {
	background-image: url('icons/image_delete.png');
}

.action-makenews {
	background-image: url('icons/newspaper_add.png');
}

.action-unmakenews {
	background-image: url('icons/newspaper_delete.png');
}

.action-guestbook {
	background-image: url('icons/book.png');
}

.action-guestbook:hover {
	background-image: url('icons/book_edit.png');
}

.action-images {
	background-image: url('icons/images.png');
}

.action-message {
	background-image: url('icons/email.png');
}

.action-message:hover {
	background-image: url('icons/email_edit.png');
	position: relative;
	top: -1px;
}

.action-message:hover span {
	position: relative;
	top: 1px;
}

.action-presentation {
	background-image: url('icons/user.png');
}

.action-thoughts {
	background-image: url('icons/lightbulb.png');
}

.action-usersettings {
	background-image: url('icons/user_edit.png');
}

.action-image {
	background-image: url('icons/image_edit.png');
}

.action-admin {
	background-image: url('icons/cog.png');
}


/* Usermenu, menyn till vänster */

.usermenu li {
	background: transparent url('icons/bullet_black.png') no-repeat center left;
	padding-left: 22px;
	line-height: 18px;
	margin-left: 2px;
}

.usermenu a .counter {
	color: #999;
}

.usermenu a:hover {
	text-decoration: none;
}

.usermenu .home {
	background-image: url('icons/house.png');
}

.usermenu .guestbook {
	background-image: url('icons/book_open.png');
}

.usermenu .guestbook.new {
	background-image: url('icons/book_open.png');
}

.usermenu .messages {
	background-image: url('icons/email.png');
}

.usermenu .messages.new {
	background-image: url('icons/email_open.png');
}

.usermenu .thoughts {
	background-image: url('icons/page_white_edit.png');
}

.usermenu .events {
	background-image: url('icons/calendar.png');
}

.usermenu .events.new {
	background-image: url('icons/calendar_add.png');
}

.usermenu .settings {
	background-image: url('icons/wrench.png');
}

.usermenu .logout {
	background-image: url('icons/door_open.png');
}

.usermenu .wisdom {
	background-image: url('icons/lightbulb.png');
}

.usermenu .fadder {
	background-image: url('icons/user_add.png');
}

.usermenu .fadderbarn {
	background-image: url('icons/world.png');
}

/* Extramarginalen för att separera delar av menyn */
.usermenu .settings, .usermenu .fadder, .usermenu .wisdom {
	margin-top: 18px;
}


/* Gamla widget-kalendern, ska helst försvinna i ett helvetesgap och döden dö */
.calendarHeader{background-color:#CCC}
.calendarFooter{font-weight:700;font-size:12px;font-family:Arial, Verdana, 'Courier New';background-color:#fc6;text-align:center}
.calendarBottom{background-color:#fc6}
.calendarDayName{font-weight:700;font-size:9px;font-family:Verdana, Arial, 'Courier New';background-color:#fc6;text-align:center}
.calendarDates{font-size:8px;color:#000;font-family:Verdana, Arial}
.calendarDateBox{border-right:gray 1px solid;border-top:gray 1px solid;border-left:gray 1px solid;color:#000;border-bottom:gray 1px solid;text-align:center;margin:2px}
.calendarDateBoxFilled{border-right:#ccc 1px solid;border-top:#ccc 1px solid;border-left:#ccc 1px solid;color:#000;border-bottom:#ccc 1px solid;background-color:#fc6;text-align:center;margin:2px}
.calendarDateBoxFilledToday{border-right:#f66 2px solid;border-top:#f66 2px solid;border-left:#f66 2px solid;color:#000;border-bottom:#f66 2px solid;background-color:#f66;text-align:center}
.calendarDateBoxToday{border-right:#f66 2px solid;border-top:#f66 2px solid;border-left:#f66 2px solid;color:#000;border-bottom:#f66 2px solid;text-align:center}
.calendarDateBoxFilledActive{border-right:#393 2px solid;border-top:#393 2px solid;border-left:#393 2px solid;color:#000;border-bottom:#393 2px solid;background-color:#fc6;text-align:center}
.calendarDateBoxActive{border-right:#393 2px solid;border-top:#393 2px solid;border-left:#393 2px solid;color:#000;border-bottom:#393 2px solid;text-align:center}
tr.calendarViewHeader{font-weight:700;font-size:10px;color:#FFF;font-family:Arial, Verdana;background-color:#c96}
.calendarView{border-right:#000 1px solid;border-top:#000 1px solid;border-left:#000 1px solid;border-bottom:#000 1px solid}
.calendarViewContentLeft{border-right:#000 1px solid;border-left:#000 1px solid;text-align:left;padding:3px}
.calendarViewContentRight{border-right:#000 1px solid;padding-right:3px;padding-bottom:3px;padding-top:3px;text-align:right}
.calendarViewBottomLeft{margin-bottom:10px;border-left:#000 1px solid;border-bottom:#000 1px solid;padding:3px}
.calendarViewBottomRight{border-right:#000 1px solid;padding-right:3px;margin-bottom:10px;padding-bottom:3px;padding-top:3px;border-bottom:#000 1px solid;text-align:right}
.calendarViewTopRight{border-right:#000 1px solid;padding-right:3px;border-top:#000 1px solid;font-size:10px;width:150px;color:#fff;font-family:Verdana, Arial;text-align:right}
.calendarViewTopLeft{border-top:#000 1px solid;padding-left:3px;font-weight:700;font-size:11px;border-left:#000 1px solid;color:#fff;font-family:Verdana, Arial}
.calendarImage{border-right:#000 1px solid;border-top:#000 1px solid;float:left;border-left:#000 1px solid;border-bottom:#000 1px solid;text-align:right}
.calendarImageText{float:right;text-align:left}
.calendarReduceMonth,.calendarIncreaseMonth{width:20px;position:static;background-color:#fc6;text-align:center}
.calendarMarkEvent,.calendarMarkEventToday{font-weight:700;font-size:8px;color:#000}


/* Gamla alt_style-css'en, lär inte behövas när den gamla markupen är borta, tack och lov */
.userList,.redAngry,span.galleryThumb,td.galleryThumb,td.presentationPhoto,.inputbox{background:transparent}
span.galleryThumb,td.galleryThumb{border:none}
img.galleryThumb{width:100px}
h3.boxHeader,h3.boxHeaderRight{font-size:12px;border-bottom:3px solid #9E7937;color:#000;background:transparent;text-align:left}
.plainTHeadWhite,.plainTextWhite,.boxLogin,h3.boxHeader,h3.boxHeaderRight{color:#000}
div.boxLeft,div.boxRight{margin-bottom:5px}
div.boxLeft,div.boxRight,h4.boxContent,td.presentationInfoTop,h4.boxContentCalendar,.calendarHeader,.calendarDayName{border:none;background-color:transparent;background:none}
h4.boxContent{color:#333}
.calendarDateBox{background:#e4c898}
.plainText{line-height:12px;color:inherit}
.presentationTop{height:auto;width:auto;font-size:16px;background:none;border:none;border-bottom:3px solid #9E7937;margin-bottom:0;margin-top:-5px;padding-left:0}
.presentationSub{margin-bottom:8px}

/* Profilern, onödigt med en separat fil även om den används av väldigt få */
#codeigniter_profiler{position:absolute;top:0;left:0;background-color:#eee!important;opacity:0.9;padding:0!important}
#codeigniter_profiler fieldset{float:left;border:none!important;background-color:transparent!important;margin:0!important;padding:0!important}
#codeigniter_profiler fieldset > *{display:none}
#codeigniter_profiler fieldset:hover > *{display:block;position:absolute;left:0;background-color:#eee!important}
#codeigniter_profiler fieldset legend{display:block;float:left}

/* Formulärmekk */
label {
	color: #666;
	clear: both;
	display: block;
	margin-top: 20px;
}

/*input, textarea*/
.form-item-text, .form-item-textarea, .form-item-submit {
	padding: 2px;
	background: #ddd;
	border: 1px solid #ccc;
	width: 440px;
}

#login .form-item-text {
	width: 115px;
}

input:hover, textarea:hover {
	background: #eee;
}

input:focus, textarea:focus {
	background: #f4e6c4;
	border: 1px solid #bbb;
}

input[type=text], input[type=password] {
	background-repeat: no-repeat;
	background-position: 2px 0px;
}

input[type=checkbox] {
	float: left;
	width: auto;
	margin-right: 5px;
}

input.form-item-submit {
	clear: both;
	display: block;
	margin-top: 20px;
	clear: both;
	width: auto;
	padding: 2px 10px;
}

textarea#form-item-body {
	height: 150px;
}

.form-error-description {
	font-style: italic;
	font-size: 10px;
}

.form-item-error {
	border: 1px solid red;
}