#dev {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #555;
	border-top: none;
	border-right: none;
	background: #ddd;
	color: black;
	padding: 3px;
	max-width: 70%;
	overflow: auto;
	opacity: 0.95;
	font-size: 0.8em;
	margin: 0;
	z-index: 1200;
}

#dev h2 {
	margin: 0;
}

#dev .log {
	display: none;
}

#dev .container:hover .log {
	display: block;
}

#dev .item {
	border-bottom: 1px dotted #333;
	padding: 3px;
}

#dev .warning { 
    color:rgb(255,0,0);

 }
 
#dev .good {
    color:rgb(0,150,0);
}